.Swipers{
    width: 92%;
    height: 100%;
    border-radius: .2rem;
    margin: 0 auto;
   
}
.SwiperItem{
    height: 2.6rem;

}
.Swipers> .swiper-container{
    height: 2.6rem;
    border-radius: .2rem;
    overflow: hidden !important ; 
}
.SwiperBack{
    height: 2.8em;
    padding-top: .2rem;
}